<footer class="bg-dark text-light py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <h5 class="text-warning mb-3">TPS PUBLIC SCHOOL HINAUTA</h5>
        <p>Excellence in Education, Building Bright Futures</p>
        <p>Nurturing minds, inspiring hearts, shaping tomorrow's leaders.</p>
      </div>
      <div class="col-lg-4 mb-4">
        <h5 class="text-warning mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a routerLink="/" class="text-light text-decoration-none">Home</a></li>
          <li class="mb-2"><a routerLink="/about" class="text-light text-decoration-none">About Us</a></li>
          <li class="mb-2"><a routerLink="/academics" class="text-light text-decoration-none">Academics</a></li>
          <li class="mb-2"><a routerLink="/admissions" class="text-light text-decoration-none">Admissions</a></li>
          <li class="mb-2"><a routerLink="/contact" class="text-light text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-4 mb-4">
        <h5 class="text-warning mb-3">Contact Info</h5>
        <p><i class="fas fa-map-marker-alt me-2"></i>123 Education Street<br>Hinauta City, HC 12345</p>
        <p><i class="fas fa-phone me-2"></i>(555) 123-4567</p>
        <p><i class="fas fa-envelope me-2"></i>info@tpshinauta.edu</p>
      </div>
    </div>
    <hr class="my-4">
    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="mb-0">&copy; 2026 TPS PUBLIC SCHOOL HINAUTA. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="text-light text-decoration-none me-3">Privacy Policy</a>
        <a href="#" class="text-light text-decoration-none">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>